# Digital Link Resolver
DL_SERVER=http://localhost
DL_PORT=7088
DL_API_KEY=your-dl-api-key-here

# Web Vocabulary
WEBVOC_SERVER=http://localhost
WEBVOC_PORT=7089
WEBVOC_API_KEY=your-webvoc-api-key-here

# EPCIS
EPCIS_SERVER=http://localhost
EPCIS_PORT=24242
EPCIS_API_KEY=your-epcis-api-key-here
